/*.container {
	float: left;
}*/
body {
	background-image: url('../img/round.png');
	background-size: cover;
}

.location-header {
	font-size: 20px;
	color: #00FF00;
}
.search-header {
	font-size: 20px;
	color: #00FF00;
}

.container {
	margin-left: 40px !important;
	margin-right: 40px !important;	
}

.jumbotron {
	background: darkgrey !important; 
	text-align: center;
	color: white !important;
}

.grey {
	background: darkgrey !important;
}
