/*.container {
	float: left;
}*/
body {
	background-image: url('../img/round.png');
	background-size: cover;
}

.location-header {
	font-size: 20px;
	color: #00FF00;
}
.search-header {
	font-size: 20px;
	color: #00FF00;
}

