
body {
	background-image: url('../img/round.png');
	background-size: cover;
	font-family: Roboto;
}

th {
	font-weight: bold;
}
h2 {
	font-size: 23px;
}

.jumbotron {
	text-align: center;
	color: white !important;
}

.grey {
	background: #828D99 !important;
}

.table-header-row {
	font-weight: bold !important;
}

.centerText {
	text-align: center;
}
/*.mainDealDiv {
	height: 300px;
}*/
#search{
	color: white !important;
}

.shortT {
	font-size: 18px;
	font-style: italic;
}

.longT {
	font-size: 15px;
	padding-top: 5px;
}
.glyphicon {
    font-size: 20px !important;
    top: 24px;
    padding-left: 10px;
}

.dealHeader {
	display: flex;
	height: 55px;
	padding-left: 10px;
	margin-top: -15px;
}

.shortTitleDisplay {
	height: 35px;
	padding-left: 10px;
}

.longTitleDisplay {
	height: 35px;
	padding-left: 10px;	
}

.dealDescriptionDisplay {
	padding-left: 10px;	
	padding-top: 15px;
}

.dealDescTitle {
	font-weight: bolder;
	font-size: 16px;
}

.dealDesc {
	font-size: 14px;
}

.finePrintDisplay {
	padding-left: 10px;
}
#full-heart{
	display: none;
}

.dealFine {
	
	font-size: 10px;
	bottom: 10px;
}

#map_div {
	min-height: 300px;
}
